@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');



.nav {
  display: flex;
  height: 8vh;
  align-items: center;
  postition: sticky;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.left, .right {
  flex: 1;
}

.left {
  display: flex;
  tex-align: left;
  align-items: center;
}



.right {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  font-size: 2.2rem;
  padding: 1vh 1vw;
}

.item {
  font-size: 20px;
  padding: 16px;
  display: inline-block;
  margin: 12px;
}

.buttons {
  display: flex;
  align-items: right;
}

.btn1 {
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;

}

.btn1 {
  color: #000;
  background: none;
  position: relative;
  padding: 1vh 1vw;
  text-decoration: none;


}

.btn1::after, .btn1::before {
  border: 2px solid #000;
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn1:hover::after {
  transform: translate(-2.5px, -2.5px);
}

.btn1:hover::before {
  transform: translate(2.5px, 2.5px);
}
